@model SitePageViewModel
@{
    ViewData["Title"] = "Home Page";
}
@section MoreTags{
    <title>Δημιουργία Νέας Σελίδας</title>
}
<div class="text-center">
    <h1 class="display-6">Προσθήκη Νέας Σελίδας</h1>
</div>
<hr />
<partial name="Partials/Create/_Form" />