@model SitePageViewModel
@section MoreTags{
    <partial name="Partials/Details/_MoreTags" />
}
<div class="text-center">
    <h1 class="display-6">@Model?.SitePage?.Title</h1>
</div>
<hr />
<partial name="Partials/Details/_Info" />