@model SettingsViewModel
@{
    ViewData["Title"] = "Home Page";
}
@section MoreTags{
<title>Settings</title>
}
<div class="text-center">
    <h1 class="display-4">Settings</h1>
</div>
<hr />
<partial name="Partials/Index/_ApiKey" />
<hr />
<div class="row my-3">
    <div class="col-lg-2">
        <a href="@Url.Action("Create","SitePage")" class="btn btn-success" style="width:100%">Add New Page</a>
    </div>
</div>
<partial name="Partials/Index/_Listing" />