<h1 class="display-4">Welcome</h1>
<div class="mt-4 p-5 bg-secondary text-white rounded">
<p>
    This is a test project.<br />
    <b>Framework:</b>Framework: .NET 6<br />
    <b>Database Engine:</b>Database Engine: Microsoft SQL<br />
</p>
<hr />
<p>
    <b>How to create a site page:</b>
    <ul>
        <li>
            1. Press "Settings" in the top right corner on the menu.
        </li>
        <li>
            2. Set up your Api Key on this page and press Save Changes button.
        </li>
        <li>
            3. After that press the button "Add New Page" in order to create a new page.
        </li>
        <li>
            4. You are now at Add New Page view. Type your page title (example: Business) and set how many results you want to be visible on the page. Keep in mind that the page title will be used as the category name for the results. Press the button save changes and the page will be created.
        </li>
        <li>
            5. The new page has been added and its now visible on the main menu bar. You can click it in order to view the results on the page.
        </li>
    </ul>
</p>
</div>