@model SitePageViewModel
@if (Model?.Data.Articles.Take(Model.SitePage.ResultsNumber) != null && Model?.Data.Articles.Take(Model.SitePage.ResultsNumber).Count() > 0)
{
    @foreach (var article in Model?.Data.Articles.Take(Model.SitePage.ResultsNumber))
    {
        <ul>
            <li>
                <a href="@article.Url" target="_blank">@article.Title</a> (<i>@article.Source.Name</i>, @article.PublishedAt?.ToString("dd-MM"))
            </li>
        </ul>
    }
}
else
{
    <div class="alert alert-warning text-center">
        No results found!
    </div>
}