@model SitePageViewModel
<title>@Model?.SitePage?.Title</title>
<meta name="description" content="@Model?.SitePage?.Title">
<meta name="author" content="@Model?.SitePage?.Title">
<meta name="keywords" content="@Model?.SitePage?.Title" />